In [1]:
# Answer (1)

# *        -- Mathematical Operator 
# 'hello'  -- String Value
# -87.8    --  Float Value
# -        -- Mathematical Operator
# /        -- Mathematical Operator
# +        -- Mathematical Operator
# 6        -- Integer Value

# Answer (2)
A variable is literally an identifier to a location in the computer's memory that stores a value. A string is a type of variable that represents a series of characters (i.e. text.)

In [2]:
# Answer (3)

# Numeric Type: int, float, complex
# Sequence Type: range, list, tuple
# Text Type: str
# Boolean Type: bool
# Mapping Type: dict

# Answer (4)
An expression is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated. The interpreter evaluates the expression and displays the result.

In [3]:
# Answer (5)
# An expression is a combination of values, variables, operators whereas, statements represent an action or command.

In [4]:
# Answer (6)
bacon = 22
bacon + 1

23

In [5]:
# Answer (7)
'spam' + 'spamspam'

'spamspamspam'

In [6]:
# Answer (7)
'spam' * 3

'spamspamspam'

# Answer (8)
A variable name must start with a letter or the underscore character. Therefore, eggs is a valid variable name as it starts with a letter. On the other hand, 100 is invalid because it starts with a number.

In [7]:
# Answer (9)
#int() , float() , and str( ) functions can be used get the integer, floating-point number, or string version of a value.

In [8]:
# Answer (10)
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

# Answer (10)
It gives error because string can not be concatenated with an integer. It can easily be resolved after changing the data type of interger into string

In [9]:
# Answer (10)
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'