In [1]:
# Answer (1)
# [] is a list.
# A list is created by placing all the items (elements) inside square brackets [], separated by commas.
# List is mutable and iterable

In [2]:
# Answer (2)
spam = [2, 4, 6, 8, 10]
spam

[2, 4, 6, 8, 10]

In [3]:
spam [2] = 'hello'
spam

[2, 4, 'hello', 8, 10]

In [4]:
# Answer (3)
spam = ['a', 'b', 'c', 'd']
spam[int(int('3' * 2) / 11)]

'd'

In [5]:
# Answer (4)
spam[-1]

'd'

In [6]:
# Answer (5)
spam[:2]

['a', 'b']

In [7]:
# Answer (6)
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.index('cat')

1

In [8]:
# Answer (7)
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

In [9]:
# Answer (8)
bacon.remove('cat')
print(bacon)

[3.14, 11, 'cat', True, 99]

# Answer (9)
# Concatenation Operator
"""The + operator lets you combine two or more strings in Python.
 This operator is referred to as the Python string concatenation operator.
  The + operator should appear between the two strings you want to merge"""

In [10]:
list = [23,50, 'star', 86, True, 'galaxy']

In [11]:
list + [2,5, 'moon']

[23, 50, 'star', 86, True, 'galaxy', 2, 5, 'moon']

In [12]:
# Replication Operator
#The multiplication operator acts as a replication operator when we have one string and one integer as operands.
list * 2

[23, 50, 'star', 86, True, 'galaxy', 23, 50, 'star', 86, True, 'galaxy']

In [13]:
# Answer (10)
#append() appends object to the end of the list.
#insert() takes two input, index value and the object. insert() inserts that object before the given index value.
list.insert(2,'sun')
list

[23, 50, 'sun', 'star', 86, True, 'galaxy']

In [14]:
# Answer (11)
#Two methods for removing items from a list are remove() and pop()
#remove() removes first occurrence of value.
list.remove('sun')
list

[23, 50, 'star', 86, True, 'galaxy']

In [15]:
#pop() removes and returns item at index.
list.pop(3)
list

[23, 50, 'star', True, 'galaxy']

# Answer (12)
"""Lists are similar to strings, which are ordered collections of characters,
 except that the elements of a list can have any type and for any one list, the items can be of different types."""

# Answer (13)
"""List is mutable, whereas a tuple is immutable. This means that lists can be changed, and tuples cannot be changed.
 So, some operations can work on lists, but not on tuples"""

In [16]:
# Answer (14)
i = [42]
tp1=tuple(i)
print(tp1)
type(tp1)

(42,)

tuple

In [17]:
# Answer (15)
# list value's tuple form
list = [2,5,8,23]
tp=tuple(list)
print(tp)

(2, 5, 8, 23)

In [18]:
# tuple value's list form
tuple = (2,4,5,23)
list = list(tuple)
print(list)

TypeError: 'list' object is not callable

In [19]:
# Answer (16)
# They contain the identity
list = ['pankaj', 23, 'verma', 86]
print(id(list))

1160107754944

# Answer (17)
"""A shallow copy constructs a new compound object and then (to the extent possible) inserts references
 into it to the objects found in the original. A deep copy constructs a new compound object and then, recursively,
  inserts copies into it of the objects found in the original. The copy.copy() function will do a shallow copy of a list,
   while the copy.deepcopy() function will do a deep copy of a list.
   That is, only copy.deepcopy() will duplicate any lists inside the list."""