In [1]:
# Answer (1)
# Two values of boolean are True and False. They are written as True and False with first letters in capitals.

In [2]:
# Answer (2)
# Three differenct types of boolean operators are; and, or and not.

In [3]:
# Answer (3)
#Truth table for "and" boolean operator
A= list ([True, True, False, False])
B= list ([True, False, True, False])
print ('A','B','A and B', sep='\t')
for i in range (0,4):
    print (A[i], B[i], A[i] and B[i], sep='\t')

A	B	A and B
True	True	True
True	False	False
False	True	False
False	False	False

In [4]:
# Answer (3)
#Truth table for "and" boolean operator
A = list ([True, True, False, False])
B = list ([True, False, True, False])
print ('A', 'B', 'A or B', sep='\t')
for i in range (0,4):
    print (A[i], B[i], A[i] or B[i], sep='\t')

A	B	A or B
True	True	True
True	False	True
False	True	True
False	False	False

In [5]:
# Answer (3)
# Truth table for "not" operator
A = [True,False]
print ("A","not A", sep='\t')
for i in range (0,len(A)):
    print (A[i], not (A[i]), sep='\t')

A	not A
True	False
False	True

In [6]:
# Answer (4)
(5 > 4) and (3 == 5)

False

In [7]:
# Answer (4)
not (5 > 4)

False

In [8]:
# Answer (4)
(5 > 4) or (3 == 5)

True

In [9]:
# Answer (4)
not ((5 > 4) or (3 == 5))

False

In [10]:
# Answer (4)
(True and True) and (True == False)

False

In [11]:
# Answer (4)
(not False) or (not True)

True

In [12]:
# Answer (5)
# Six Different Types of Comparison Operators
# equal to
# not equal to
# greater than
# greater than or equal to
# less than
# less than or equal to

# Answer (6)

Equal to operator '==' and Assignment operator '='

Equal to operator is used to compare two values or expressions and Assignment operator is used to assign a value to a variable.

In [13]:
# Answer (7)
spam = 0
# First Block
if spam == 10:
    print('eggs')
    
# Second Block
if spam > 5:
    print('bacon')    

# Third Block
else:
    print('ham')
print('spam')
print('spam')

ham
spam
spam

In [14]:
#Answer (8)

spam = int (input())
if spam==1:
    print ("Hello")
elif spam==2:
    print ("Howdy")
else : 
    print("Greetings!")

2
Howdy

In [15]:
# Answer (9)
# An endless loop can be stopped by pressing CTRL + C.

In [16]:
# Answer(10)
#Break terminates the execution of the current loop, whereas the continue statement jumps to the next iteration.

In [17]:
# Answer(11)
#range(start, stop[, step])

#In this case, start and step value is not given, so python takes start value 0 and step value 1 as default.

for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [18]:
#In this case,step value is not given, so python takes step value 1 as default.

for i in range(0,10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [19]:
# In this case, start, stop and step valutes are given. However outcome is same in each scenario.
for i in range(0,10,1):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [20]:
# Answer (12)

# Using For loop

for i in range(1,11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [21]:
# Using while loop

i = 1
while i < 11:
    print(i, end=" ")
    i += 1

1 2 3 4 5 6 7 8 9 10

In [22]:
# Answer (13)
# spam.bacon()